@model IEnumerable<WebDienTu.ViewModels.GioHang>
@{
    ViewData["Title"] = "Thanh toán";
}


<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <form asp-action="Checkout" asp-controller="GioHang">
                        <div class="billing-address">
                            <h2>Địa chỉ nhận hàng</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="GiongKhachHang" name="GiongKhachHang" value="0">
                                        <label class="custom-control-label" for="GiongKhachHang">Giống thông tin khách hàng</label>
                                    </div>
                                </div>
                                <div class="col-md-6 delivery-info">
                                    <label>Tên người nhận</label>
                                    <input class="form-control" type="text" name="HoTen" placeholder="Tên người nhận">
                                </div>
                                <div class="col-md-6 delivery-info">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="E-mail">
                                </div>
                                <div class="col-md-6 delivery-info">
                                    <label>Điện thoại</label>
                                    <input class="form-control" type="text" name="DienThoai" placeholder="Điện thoại">
                                </div>
                                <div class="col-md-12 delivery-info">
                                    <label>Địa chỉ</label>
                                    <input class="form-control" name="DiaChi" type="text" placeholder="Số nhà, tên đường">
                                </div>
                                <div class="col-md-12">
                                    <label>Ghi chú</label>
                                    <input class="form-control" name="GhiChu" type="text" placeholder="Ghi chú">
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn w-50 mt-2" type="submit">Đặt hàng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <h1>Tổng tiền giỏ hàng</h1>
                        @foreach (var item in Model)
                        {
                            <p>@item.TenHH <span>$@item.ThanhTien</span></p>
                        }
                        <p class="sub-total">Tổng tiền sản phẩm<span>$@Model.Sum(p => p.ThanhTien).ToString("#,##0")</span></p>
                        <p class="ship-cost">Phí vận chuyển<span>$1</span></p>
                        <h2>Tổng cộng<span>$100</span></h2>
                    </div>

                    <div class="checkout-payment">
                        <div class="payment-methods">
                            <h1>Phương thức thanh toán</h1>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                    <label class="custom-control-label" for="payment-1">Paypal</label>
                                </div>
                                <div class="payment-content" id="payment-1-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                    <label class="custom-control-label" for="payment-2">Payoneer</label>
                                </div>
                                <div class="payment-content" id="payment-2-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                    <label class="custom-control-label" for="payment-3">Check Payment</label>
                                </div>
                                <div class="payment-content" id="payment-3-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                    <label class="custom-control-label" for="payment-4">Direct Bank Transfer</label>
                                </div>
                                <div class="payment-content" id="payment-4-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                    <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                </div>
                                <div class="payment-content" id="payment-5-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
@section Scripts {
	<script>
		$(document).ready(function () {
			$("#GiongKhachHang").change(function () {
				if ($(this).prop("checked")) {
					$(this).val(true);
					$(".delivery-info").addClass("d-none");
				} else {
					$(this).val(false);
					$(".delivery-info").removeClass("d-none");
				}
			});
		});
	</script>
}