@{
    Layout = "_LayoutCustomer";
}

<!-- Breadcrumb Start -->
@RenderSection("BreadCum", required: false)
<!-- Breadcrumb End -->
<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                
                    @RenderBody()
            </div>

            <!-- Side Bar Start -->
            @await Component.InvokeAsync("DanhMuc")
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->